<%# header bar for doc items in index view -%>
<%# overrides blacklight to link to documents within the context of their exhibit%>
<%# see https://github.com/projectblacklight/blacklight/blob/557dfd44708c0bc84234e491021407ac8d94287d/app/views/catalog/_index_header.html.erb %>
<div class="documentHeader row">
  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>
  <% document_actions = capture do %>
    <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
  <% end %>

  <h3 class="index_title document-title-heading <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-12" %>">
    <% if counter = document_counter_with_offset(document_counter) %>
      <span style="" class="document-counter col-sm-1">
        <%= t('blacklight.search.documents.counter', counter: counter) %>
      </span>
    <% end %>
    <div class="col-sm-11">
       <%= render_index_document(document, exhibit_context: true) %> 
    </div>
  </h3>

  <%= document_actions %>
</div>
