<% # Overriden so that when the sidebar is on the left, the tab order will go %>
<% # through the side bar before the main content area. Could not be done via %>
<% # CSS as the the order of the HTML elements needed to be changed. %>

<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <% if content_for(:content_position) == 'order-first' || content_for(:sidebar_position) == 'order-last' %>
      <section id="content" class="<%= main_content_classes %> order-first" aria-label="<%= t('blacklight.search.search_results') %>">
        <%= yield %>
      </section>
      <aside id="sidebar" class="<%= sidebar_classes %> order-last" aria-label="<%= t('blacklight.search.documents.aria.limit_search') %>">
        <%= content_for(:sidebar) %>
      </aside>
    <% else %>
      <aside id="sidebar" class="<%= sidebar_classes %> order-first" aria-label="<%= t('blacklight.search.documents.aria.limit_search') %>">
        <%= content_for(:sidebar) %>
      </aside>
      <section id="content" class="<%= main_content_classes %> order-last" aria-label="<%= t('blacklight.search.search_results') %>">
        <%= yield %>
      </section>
    <% end %>
  <% else %>
    <section id="content" class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>
<%= render template: "layouts/spotlight/base" %>
