
<%= render 'spotlight/shared/report_a_problem' if show_contact_form? %>

<div class="masthead <%= 'image-masthead' if current_masthead %> <%= 'resource-masthead' if resource_masthead? %>">
  <% if current_masthead %>
    <span class='background-container' style="background-image: url('<%= current_masthead.iiif_url %>')"></span>
    <span class='background-container-gradient'></span>
  <% end %>

  <% if current_exhibit || content_for?(:masthead) || @masthead_title %>
    <div class="container site-title-container">
      <div class="site-title h1">
        <% if content_for? :masthead %>
          <%= content_for :masthead %>
        <% elsif current_exhibit %>
          <%= current_exhibit.title %>
          <% @subtitle ||= current_exhibit.subtitle %>
          <div class="site-subtitle">
          <% if @subtitle.present? %>
              <small dir='<%= @subtitle.dir %>'><%= @subtitle %></small>
          <% end %>
          </div>
        <% elsif @masthead_title %>
          <%= @masthead_title %>
          <% @subtitle ||= current_site.subtitle %>
          <div class="site-subtitle">
          <% if @subtitle.present? %>
            <small dir='<%= @subtitle.dir %>'><%= @subtitle %></small>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render 'shared/exhibit_navbar' %>
</div>

<%= render 'shared/breadcrumbs' unless resource_masthead? %>
