<%= bootstrap_form_for @exhibit, url: ((spotlight.exhibit_path(@exhibit) if @exhibit.persisted?) || exhibits_path), layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
  <% # Princeton Customization - replace title/slug with manifest select box. %>
  <%= f.collection_select(:slug, ExternalCollectionsQuery.uncreated, :slug, :human_label, label: t(:'.fields.slug.label')) %>
  <% # End Princeton Customization %>
  <%= f.text_field :tag_list %>

  <%= render 'initial_resources_form', locals: { f: f } %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
