<% image = document.to_openseadragon(blacklight_config.view_config(:show)) %>
<%
  osd_config = {
    crossOriginPolicy: false,
    zoomInButton:     "osd-zoom-in",
    zoomOutButton:    "osd-zoom-out",
    homeButton:       "osd-home",
    fullPageButton:   "osd-full-page",
    nextButton:       "osd-next",
    previousButton:   "osd-previous"
  }

  # Princeton Customization - set configurded first page.
  firstPage = Array(image).index { |tile_source| tile_source.start_with?(block.item.first.last["iiif_tilesource_base"]) }

  osd_config_referencestrip = {
    showReferenceStrip:             true,
    referenceStripPosition:         'OUTSIDE',
    referenceStripScroll:           'vertical',
    referenceStripWidth:            100,
    referenceStripBackgroundColor:  'transparent',
    # Princeton Customization - enable sequence mode and set initial page so
    # viewer jumps to configured embed page.
    sequenceMode: true,
    initialPage: firstPage
  }

%>

<% unless image.nil? %>
  <% count = Array(image).length %>
  <div class="openseadragon-container <%= osd_container_class %>">
    <div class="osd-toolbar row">
      <div class="col-md-6 pagination">
        <% if count > 1 %>
          <% osd_config = osd_config_referencestrip.merge(osd_config) %>
            <a id="osd-previous"><%= blacklight_icon('chevron_left') %></a>
            <%- # Princeton Customization - add firstPage label and a space. %>
            <span id="osd-page"><%= firstPage+1 %></span>&nbsp;of <%= count %>
            <a id="osd-next"><%= blacklight_icon('chevron_right') %></a>
        <% end %>
      </div>
      <div class="col-md-6 controls">
        <a id="osd-zoom-in"><%= blacklight_icon('add_circle') %></a>
        <a id="osd-zoom-out"><%= blacklight_icon('remove_circle') %></a>
        <a id="osd-home"><%= blacklight_icon('resize_small') %></a>
        <a id="osd-full-page"><%= blacklight_icon('custom_fullscreen') %></a>
      </div>
    </div>
    <%= openseadragon_picture_tag image, class: 'osd-image row', data: { openseadragon: osd_config } %>
  </div>

<% end %>
